h1 {
    color: whitesmoke;
    background-color:black;
}

div {
    color: whitesmoke;
}

ol.preparation {

    color: whitesmoke;
}

ul {
    color: whitesmoke;
    background-color: black;
}
div{
    padding-bottom: 15px;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 15px;
}

body {
    background-image: url("My-repo/images/bar.jpg");
    background-size: cover;
}


table.author-decor{
    background-color:gold;
}